.app-main-container {
  display: flex;
  justify-content: flex-start;
  background-color: aqua;
  align-items: center;
  text-align: center;

  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
}
.un-order {
  list-style-type: none;
  width: 500px;
  border-bottom: 5px rgb(27, 21, 21) solid;
}

input {
  height: 40px;
  border: 3px solid black;
  border-radius: 3px;
  align-items: center;
  background-color: rgb(12, 8, 8);
  color: #ffffff;
  padding-left: 20px;
  border-radius: 10px;
}
.sub {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
